@import './blocks/_global_editor.scss';

.editor-block-list-item-threespotblock-static {
  background-color: $editor-block-color;
}

.wp-block-threespotblock-static {
  .sorry.warning {
    background: forestgreen;
    color: white;
    font-size: fs-rem(30px);
  }
}
